<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="display-4 text-center orange">
        <strong>About</strong>
      </div>
      <h5 class="text-center mt-2">
        Destinoはあなたの欲しい"今"が<br>
        見つかることを大事にしています。<br>
        様々なニーズに合わせた品揃え<br>
        買い物をすることで得る感動をお届けさせていただきます<br>
        Good Vibes only.
      </h5>
       <%= image_tag "about.jpg", style: "background-size: cover;", size: "850x280", class: "mx-auto d-block my-3" %>
    </div>
  </div>
</div>