<div class='container mx-auto'>
  <div class='row'>
<h4>Top画面</h4>


    <div class='col-10'>
      <div class="box">
       <div class="images">
        <div class='image1'></div>
        <div class='image2'></div>
        <div class='image3'></div>
        <div class='image4'></div>
        <div class='image5'></div>
      </div>
     </div>
    </div>

  </div>
</div>